[ ca ]
default_ca                      = CA_default

[ CA_default ]
dir                             = .
ca_dir                          = ../rootCA

# Information used to keep trace of certificate
database                        = $dir/ca_files/index.txt
serial                          = $dir/ca_files/serial

# Information used to generate and store the signed certificate
certs                           = $dir/certs
new_certs_dir                   = $dir/newcerts
certificate                     = $ca_dir/certs/web_ca.crt
private_key                     = $ca_dir/private/web_ca.key

# Information used for the CRL
crl_dir			        = $dir/ca_files/crl
crl		                = $crl_dir/crl.pem
default_crl_days                = 30                        # Validity duration

# Information used to generate the certificate
default_days                    = 365                       # Validity 1 year
default_md                      = sha256                    # Hash method
preserve                        = no
policy                          = policy_match              # Policy to respect
x509_extensions                 = x509_extensions           # Imposed X509 ext.
copy_extensions                 = copy                      # Copy other ext.


[ policy_match ]
# Policies which need to be respected to be able to sign the certificate
countryName		        = match                     # Same country
organizationName                = match                     # Same organization
commonName                      = supplied                  # CommonName needed
emailAddress                    = optional                  # Email optional

[ x509_extensions ]
# Extensions for the issued certificates
basicConstraints                = critical,CA:FALSE         # Not a CA
keyUsage                        = critical, digitalSignature, nonRepudiation, keyEncipherment
subjectKeyIdentifier		= hash
authorityKeyIdentifier          = keyid,issuer:always
issuerAltName                   = issuer:copy
crlDistributionPoints           = URI:http://crl.example.com/web_ca.crl
authorityInfoAccess             = OCSP;URI:http://ocsp.example.com:83/
