[ req ]
default_days = 365
default_keyfile = private/sebaux.key.new
encrypt_key = no
default_bits = 2048
distinguished_name = rdn
prompt = no
req_extensions = req_exts

[ rdn ]
countryName = FR
localityName = Toulouse
organizationName = zeroNounours
commonName = sebaux.eu
emailAddress = zeronounours@zeronounours.eu

[ req_exts ]
subjectAltName = @alt_names

[ alt_names ]
email.1 = copy
DNS.1 = sebaux.eu
DNS.2 = *.sebaux.eu

