[ req ]
# Information about the generated certificate
default_days                    = 3650
default_keyfile                 = private/web_ca.key.new
encrypt_key                     = yes
default_bits                    = 4096
default_md                      = sha256                    # Hash method
distinguished_name              = rdn
prompt                          = no
req_extensions                  = req_exts

[ rdn ]
# Information about the issuer
countryName                     = XX
localityName                    = city
organizationName                = organization
organizationalUnitName          = CA organization unit
commonName                      = organization Root CA
emailAddress                    = webmaster@example.com

[ req_exts ]
# Extensions for the certificate
basicConstraints                = critical,CA:TRUE,pathlen:0
keyUsage                        = critical, keyCertSign, cRLSign
subjectKeyIdentifier		= hash
subjectAltName 			= email:copy
nameConstraints                 = critical,permitted;DNS:example.com
